*{
margin: 0px;
padding: 0px;

}

@font-face {
    font-family: 'Food';
    src: url(../fontes/Pack\ By\ Daniel\ \(3\).otf);
}

/* INÍCIO DO TRECHO DE CÓDIGO DO BODY */
body {
  background-color: #ffffffaa;
  max-width: 800px;
  margin: auto;

   
}

main{
  background-color: #ddddddaa;
}
@media (min-width:600px)
{
  
}

/* FIM DO TRECHO DE CÓDIGO DO BODY */



/* INÍCIO DO TRECHO DE CÓDIGO DO HEADER */


header{
    
  background-color: rgba(0, 0, 0, 0.874);
   color: white;
    padding-top: 25px ;
    height: 120px;
    

}


header h1 span{
  color: rgb(131, 131, 9);
}
header h1 {
  font-family: "food";
    margin-bottom: 10px;
    text-align: center;
   }
   header p{
    text-align: center;
   }

   @media (max-width:4in){

    header{
      height: 20vh;
    }
   }
nav{
margin-top: 30px;


}
nav a{
    color:white;
    text-decoration: none;
    padding-left: 10px;
    transition: 0.2s;
    }
    
    nav a:hover{
       background-color: rgba(0, 0, 0, 0.4);
       padding: 5px 10px 7px 10px;
       
       font-size: 17px;
       box-sizing: border-box;
        }
        

/* FIM DO TRECHO DE CÓDIGO DO HEADER */


/* INÍCIO DO TRECHO DE CÓDIGO DO MAIN */

article.sub {
    height: 300px;
    background-image: url(../img/572134-pizza-4k-full2.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 10px;
 
    
}

article.sub h1{
font-family: "food";

}

article.sub  h1{
    color: yellow;
    margin-top: 80px;

}

article.sub p{
    margin-top: 10px;
    font-size: 0.2in;
    
}

h1.sobre{
text-align: center;
padding: 10px;
text-decoration: underline;
font-family: "Food";
font-weight: 100;
}

p.lorem{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    text-indent: 15px;
}



.cardapio img{
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 40px;
}
article.cardapio{
    width: 200px;
    border: 1px solid white;
    box-shadow: 1px 1px 4px black;
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
    
}
article.cardapio h1{
  text-align: center;
  padding: 5px;
}
article.cardapio p{
  text-align: center;
    padding: 5px;
    text-indent: 10px;
  }
  article.cardapio button{
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 170px;
   background-color: rgb(201, 201, 30);
   border: none;
   color: white;
  }


  article.cardapio button:active{
    background-color: rgb(193, 255, 5);
color: black;
  }

  @media(max-width:490px)
  {
    article.cardapio{
margin: auto;
margin: 10px auto auto 10px;

    }

  }

  /* INÍCIO DO TRECHO DE CÓDIGO DO MAIN SECTION2*/
section.sec2{
    margin-top: 10px;
    height: 270px;
background-image: url(../img/pizza-3010062__480.jpg);
background-repeat: no-repeat;
background-size: cover;

background-position: left center;
color: white;

padding-bottom: 45px;
padding-top: 35px;




}
section.sec2 div{
   width: 230px;
background-color: rgba(0, 0, 0, 0.7);
margin-left: 30px;

padding: 15px;




}
@media(max-width:700px){


section.sec2 div{
  padding: 10px;

}


}

section.sec2 div p{
  text-align: justify;
 text-indent: 10px;

 font-size: 17px;
 
 }


  /* FIM DO TRECHO DE CÓDIGO DO MAIN SECTION2 */


/* FIM DO TRECHO DE CÓDIGO DO MAIN */



/* INÍCIO DO TRECHO DE CÓDIGO DO FOOTER */

img.footer{
    width: 25px;
    background-color: white;
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
    margin-top: 10px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.874);
    color: white;
    text-align: center;

}
footer span.food{
  color: rgb(131, 131, 9);


}
footer h1{
  
font-family: "food";

}

footer div.nome{
    background-color: rgba(48, 46, 46, 0.874);

 padding: 15px;
 

}
footer div.footer1{
   max-width: 600px;
   margin: auto;
 

}

footer div.footer1 p{

  margin-top: 10px;
 
 }

footer div.footer p,h1{
    max-width: 600px;
    margin: auto;
  
 
 }





/* FIM DO TRECHO DE CÓDIGO DO FOOTER*/
